 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css"  href="/css/main.css">
     <link rel="stylesheet" type="text/css"  href="/css/{{style}}">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <title>{{title}}</title>
 </head>
 <body>
     <header>
        <div class="headerIcon">
            <!--<i id="headerIcon" class="fab fa-gitkraken fa-3x" style="font-size: 100px; "></i>-->
            <img id="headerIcon" src="/img/swigger_logo.JPG" alt="comapny-logo" width="200px" height="200px">
         </div>
     </header>
     <navigation >
        <div>
           <ul>
              <li class="navi-list"><a href="/login">Login</a></li>
              <li class="navi-list"><a href="/register">Sign up</a></li>
           </ul>
        </div>
     </navigation>
     <main>
        {{{body}}}
     </main>










     <footer style="background-color: aquamarine;">

      <div class="footerAll">
         <section class="footerLogo">
            <!--<img src="img/food_hero.jpg" alt="footer-company-logo" height="50px;">-->
            <h4 class="companylogo">SWIFFER</h4>
         </section>


         <div class="footerMain">
            <div name="Company" class="footerContent" >
               <h5 class="H6list" >Company</h5>
               <nav>
                  <a class="noTextDecoA">
                   <p class="listContent">About</p>  
                  </a>
                     <a class="noTextDecoA">
                   <p class="listContent">Blog</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Careers</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Report Fraud</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Contact</p>  
                  </a>
               </nav>
            </div>

            <div name="ForFoodies" class="footerContent">
               <h5 class="H6list" >FOR FOODIES</h5>
               <nav>
                  <a class="noTextDecoA">
                   <p class="listContent">Code of Conduct</p>  
                  </a>
                     <a class="noTextDecoA">
                   <p class="listContent">Community</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Blogger Help</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Developers</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Moblie Apps</p>  
                  </a>
               </nav>
            </div>


            <div name="ForRestaurants" class="footerContent" >
               <h5 class="H6list" >FOR RESTAURANTS</h5>
               <nav>
                  <a class="noTextDecoA">
                   <p class="listContent">Add Restaurants</p>  
                  </a>
                    <a class="noTextDecoA">
                   <p class="listContent">Clain your Listing</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Business App</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Restaurant Widgets</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Products of Business</p>  
                  </a>
               </nav>
            </div>
            
            <div name="ForYou" class="footerContent">
               <h5 class="H6list">FOR YOU</h5>
               <nav>
                  <a class="noTextDecoA">
                   <p class="listContent">Privacy</p>  
                  </a>
                     <a class="noTextDecoA">
                   <p class="listContent">Terms</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Security</p>  
                  </a>
                  <a class="noTextDecoA">
                   <p class="listContent">Site Map</p>  
                  </a>
                 
               </nav>
            </div>
            
            <div name="SocialLinks" class="footerContent">
               <h5 class="H6list">SOCIAL LINKS</h5>
                 <ul>
                    <li><a href="#" class="fa fa-facebook fa-2x link" style="background: #3B5998; color: white; "></a></li>
                    <li><a href="#" class="fa fa-twitter fa-2x link" style="background: #55ACEE; color: white; "></a></li>
                    <li><a href="#" class="fa fa-instagram fa-2x link" style="background: red; color: white; "></a></li>
                </ul>
            </div>
         </div>
      </div>

        
         <div class="copyright" style="display: none; justify-content: center;">
            <p>&copy; zomato | Designed and managed by Ritik Bheda</p>
         </div>            



     </footer>
 </body>
 </html>