<a href="/addMeal" class="alter-options">add meals</a>
<a href="/update" class="alter-options">update meals</a>
<a href="/delete" class="alter-options">delete meals</a>

<style>
    .alter-options{
        width: 100%;
        display: block;
        text-align: center;

        font-size: 30px;
        background-color: azure;
        height: 200px;
    }
</style>