<div style=" position: relative;">
    <div id="food-hero" style="margin-top :36px;">
        <img id="hero-image" src="https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="food hero image" id="food-hero-image" style="height: 580px;">
    </div>
    <div id="hero-section">
        <h2 id="hero-head">Meals and grocery delivered</h2>
        <ul  style=" margin-left:-25px;">
            <li class="navi-list hero-options"><a href="/meal">view all meals</a></li>   
        </ul>
    </div>
</div>


<div class="contentSection">
    <div class="subContentSection">
        <div class="eachFeature">
            <div class="featureImg">
                <img width="105" height="199" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_210,h_398/4x_-_No_min_order_x0bxuf" alt="no-minimum-order-photo">
            </div>
            <div class="featureHead"> NO MINIMUM ORDER</div>
            <div class="featureDesc"> Need a coke? or order for a house party</div>
        </div>
         <div class="eachFeature">
            <div class="featureImg">
                <img width="105" height="199" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_224,h_412/4x_Live_order_zzotwy">
            </div>
            <div class="featureHead">LIVE ORDER TRACKING</div>
            <div class="featureDesc">Know where your order is at all times</div>
        </div>
         <div class="eachFeature">
            <div class="featureImg">
                <img width="105" height="199" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_248,h_376/4x_-_Super_fast_delivery_awv7sn">
            </div>
            <div class="featureHead">FAST DELIVERY</div>
            <div class="featureDesc">Get a full refund if it takes more that half an hour</div>
        </div>
         <div class="eachFeature">
            <div class="featureImg">
                <img width="105" style="margin-top: 95px;" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_90,h_90/tvjhvfzjhbxune2idler">
            </div>
            <div class="featureHead">BEST OFFERS</div>
            <div class="featureDesc"> Need a coke? or order for a house party</div>
        </div>
    </div>
</div>


<div class="topMeals">
    <div>
        <h1 class="">Trending Today</h1>
    </div>
   <div class="subTopMeals">
       {{#each topMeal}}
       <div class="eachMeal">
           <div >
               <img class="mealImg" src="{{this.imgPath}}">
           </div>
           <div class="mealTitle">{{this.title}}</div>
           <div class="mealPrice">${{this.price}}</div>
       </div>
        {{/each}}
   </div>
</div>

