
<div id="register" >
        
        <form action="/login" method="POST" >
            <h2>Login</h2> 
            <hr>
            
            <div class="input">
            <label for="email">E-mail</label>
            <input type="email" value="{{email}}" name="email" id="email" required>
            <div class="error_register">{{err_email}}</div>
            </div>
            <div class="input">
            <label for="password">Password</label>
            <input type="password" value="{{pass}}" name="password" id="password" required>
            <div class="error_register">{{err_pass}}</div>
            </div>
            <div id="submit" class="input">
            <input type="submit" value="Login">
            </div>

            </form>
</div>