<div>
    <div>
        {{#each meal}}
        <div>
        <img src="/img/meal/{{this.imgPath}}">
            <h4>{{this.title}}</h4>
            <p>{{this.desc}}</p>
        </div>  
        {{/each}}
    </div>
</div>