#hero-image{
    width: 100%;
}
#hero-section{
    
    position: absolute;
    top: 15%;
    left: 7%;
    z-index: 1;
}

#hero-head{
    font-size: 55px;
    width: 350px;
    text-align: center;
}

@media screen and (max-width: 600px){
    #hero-head{
        width: 260px;
    font-size: 25px;
    }
}

li a{
    list-style-type: none;
    float: left;
}


/* content section */

.contentSection{
    background-color: #2b1e15;
    /* overflow: scroll; */
}

.subContentSection{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.eachFeature{
    color: white;
    text-align: center;
    display: inline-block;
    width: 300px;
}
@media screen and (max-width: 600px){
    .eachFeature{
        width: 150px;
    }

}

.featureImg{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.featureHead{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 8px;
}



/* End of content section*/

/* top meal */

.topMeals{
    width: 100%;
    text-align: center;

}
.subTopMeals{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.eachMeal{
    text-align: center;
    width: 430px;
    height: fit-content;
    display: inline-block;
    border: 0.1px solid rgb(100,100,100);
    background-color: rgb(240, 240, 240);
    margin: 12px;
    padding-bottom: 17px;
}

.eachMeal:hover{
    box-shadow: 2px 2px 20px rgba(23 ,23, 23, 0.5);
}

.mealImg{
    margin-top: 5%;
    width: 90%;

}

.mealTitle{
    font-size: 18px;
    font-weight: 500;
}

.mealPrice{ 
    margin-top: 5px;
    font-size: 15px;

}
/* End of top meal*/